.rs-input-group.rs-input-group-inside {
    min-width: 200px;
}

.rs-input-group-lg>.rs-input {
    font-size: 15px;
    line-height: 1.375;
    padding: 9px 15px;
}

.rs-input-group-lg.rs-input-group>.rs-input,
.rs-input-group-lg.rs-input-group>.rs-input-group-addon {
    height: 38.5px;
}

.rs-picker-popup {
    top: 230px !important;
    border-radius: 0;
}

.rs-input-group,
.rs-btn-primary,
.rs-calendar-table-cell-content {
    border-radius: 0;
}

// .rs-pagination-btn.rs-pagination-btn-active,
// .rs-pagination-btn:hover,
// .rs-pagination-btn:focus {
//     border-radius: 0;
// }
